/* ------common css start----- */

body{
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight:400;
    color:#1D3360;
}

/* ------common css end----- */


/*------header section starts-------*/
header{
    padding: 15px 0;
    border-bottom: 2px solid rgb(211, 209, 205);
}
.container{
    margin: 0 auto;
    width: 90%;
    /* border: 1px solid black; */
    overflow: hidden;

}
.logo{
    width: 10%;
    /* border: 1px solid black; */
    float: left;
}
.logo img{
    width: 100%;
}
.menu{
    width: 50%;
    /* border: 1px solid black; */
    float: right;
}
.menu ul{
    float: right;

}
.menu ul li {
    list-style: none;
    float: left;
}
.menu ul li a {
    display: inline-block;
    padding: 7px 25px;
    color: #1D3360;
    text-decoration: none;
    transition: .33s;
}
.menu ul li:last-child a{
    padding-right: 0;
}
.menu ul li a:hover{
   color: #0C66FF;
  
}
/*------header section end-------*/

/* -----banner start--- */
.banner{
    padding: 65px 0;
    /* border: 1px solid rgb(255, 0, 0); */

}
.container_2{
    margin: 0 auto;
    width: 65%;
    /* border: 1px solid rgb(245, 3, 3); */
    text-align: center;
    overflow: hidden;
    
}
.banner_h1{
    margin: 0;
    padding: 0 192px;
    font-size: 60px ;
    font-weight: 700 ;
    line-height: 80px;
    color: #1d3360;
}
.banner_h1 span{
    color: #0C66FF;
}
.banner_p{
    margin: 10px 0 30px;
    padding: 0 254px;
    line-height:28px;
    color: #1D3360;

}
.banner_img{
    margin: 0 auto;
    width: 58%;
    /* border: 1px solid rgb(255, 0, 0); */
    
}
.banner_img img{
    width: 100%;
}


/* -----banner end--- */

/* --success section start--- */
.success{
    padding: 70px 0;
}
.colum_1{
    width: 47.5%;
    float: left;
    text-align: end;
    /* border: 1px solid black; */
}
.colum_1 h2{
    margin: 0;
    font-size: 60px;
    color: #F15767;
}
.colum_1 p{
    margin: 0;
    padding-left: 210px;
    line-height: 32px;
    color: #1D3360;
}

.colum_2{
    float: right;
    width: 49%;
    text-align: start;
    /* border: 1px solid black; */
}
.colum_2 h2{
    margin: 0;
    padding-right: 105px;
    font-size: 60px;
    color: #1D3360;
   
}

/* ----success section end ---- */

/* -----service section Starts--- */

.service{
    padding: 44px 0;
}
.single_service{
    padding: 48px 42px;
    margin-right: 2%;
    width: 32%;
    float: left;
    box-sizing: border-box;

}
.single_service:first-child{
    background:#FEEBED ;
}
.single_service:nth-child(2){
    background:#EAF9F4 ;
}
.single_service:last-child{
    background:#FFF8E8 ;
    margin-right: 0;
}
.ss_img{}
.ss_img img{
    width: 100%;
}
.single_service h2{
    margin: 32px 0;
    font-size: 30px;
    font-weight: 700;
}
.single_service p{
    margin: 0;
    line-height: 34px;
}


/* ----service section end------- */

/*--- footer section start ----*/



footer{
    padding: 26px 0px;
    background-color:#0C66FF;

}
.footer_sec{
width: 50%;
margin: 0 auto;
text-align: center;
/* background-color: #0C66FF; */
/* border: 1px solid black; */

}
.footer_sec p{
color: rgba(255, 255, 255, 0.651);

}
.footer_sec span{
color: white;
letter-spacing: 4px;
font-weight: 700;
}






/*-------- footer sectionend------ */